### ESTE ARQUIVO .ENV SERVE PARA RODAR O PROJETO LOCALMENTE 

CAMINHO_ARQUIVO=

#====== CREDENCIAS BANCO =========

PG_USER=
PG_PASSWORD=
PG_HOST=
PG_PORT=
PG_DBNAME=

#====== TABELAS BANCO =========

TABLE_DIM_TEMPO=
TABLE_DIM_SUBSISTEMA=
TABLE_FATO=